<!DOCTYPE html>
<html lang="en">

<head>

    {{>head}}

<body>
    <!-- ==================Navigation Started================================== -->
    {{>navbar}}
    <!-- ==========================Navigatioin Ended================================ -->

    <h1 class="text-center bg-success py-2 my-2 text-white"><i class="fa-solid fa-circle-info  "></i> Product's Information
    </h1>
    
    <div class=" container product-info">
        <div class="row m-2 border curve mx-auto text-center justify-content-center overflow-hidden " >
            <div class="col-12 col-md-5 d-flex flex-column justify-content-center ">
                <div class="design">
                    <img src="/images/img1.jpg" class="container-fluid img-width-info " alt="">
                </div>
            </div>
            <div class="col-12 col-md-5 ">
                <h3 class="h2 text-white">Bambai Mango</h3>
                <p class="text-white">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet, dolor atque magni maiores adipisci id
                    at illum quia impedit modi consequatur, voluptatem dolorum repudiandae, temporibus ut numquam
                    quaerat ratione architecto. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium
                    laborum expedita omnis magni illo obcaecati magnam tenetur quas vero, sed doloremque quod possimus
                    repellat similique recusandae amet eos tempore hic?</p>
            </div>
        </div>
        <div class="row m-2 border curve mx-auto text-center justify-content-center overflow-hidden  ">
            <div class="col-12 col-md-5 d-flex flex-column justify-content-center ">
                <div class="design">
                    <img src="/images/img2.jpg" class="container-fluid img-width-info " alt="">
                </div>
            </div>
            <div class="col-12 col-md-5 ">
                <h3 class="h2 text-white">Kalkatta Mango</h3>
                <p class="text-white">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet, dolor atque magni maiores adipisci id
                    at illum quia impedit modi consequatur, voluptatem dolorum repudiandae, temporibus ut numquam
                    quaerat ratione architecto. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium
                    laborum expedita omnis magni illo obcaecati magnam tenetur quas vero, sed doloremque quod possimus
                    repellat similique recusandae amet eos tempore hic?</p>
            </div>
        </div>
        <div class="row m-2 border curve mx-auto text-center justify-content-center overflow-hidden  ">
            <div class="col-12 col-md-5 d-flex flex-column justify-content-center ">
                <div class="design">
                    <img src="/images/img3.jpg" class="container-fluid img-width-info " alt="">
                </div>
            </div>
            <div class="col-12 col-md-5 ">
                <h3 class="h2 text-white">Langda Mango</h3>
                <p class="text-white">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet, dolor atque magni maiores adipisci id
                    at illum quia impedit modi consequatur, voluptatem dolorum repudiandae, temporibus ut numquam
                    quaerat ratione architecto. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium
                    laborum expedita omnis magni illo obcaecati magnam tenetur quas vero, sed doloremque quod possimus
                    repellat similique recusandae amet eos tempore hic?</p>
            </div>
        </div>
                <div class="row m-2 border curve mx-auto text-center justify-content-center overflow-hidden " >
            <div class="col-12 col-md-5 d-flex flex-column justify-content-center ">
                <div class="design">
                    <img src="/images/img1.jpg" class="container-fluid img-width-info " alt="">
                </div>
            </div>
            <div class="col-12 col-md-5 ">
                <h3 class="h2 text-white">Bambai Mango</h3>
                <p class="text-white">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet, dolor atque magni maiores adipisci id
                    at illum quia impedit modi consequatur, voluptatem dolorum repudiandae, temporibus ut numquam
                    quaerat ratione architecto. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium
                    laborum expedita omnis magni illo obcaecati magnam tenetur quas vero, sed doloremque quod possimus
                    repellat similique recusandae amet eos tempore hic?</p>
            </div>
        </div>

    </div>




    {{>footer}}
    {{>cdnscript}}
</body>

</html>