<script>
 
  let populateDemandCard = (DemandProducts) => {
    let demandCardList = document.getElementById("cardlistDemand");
    const productCardHtml = DemandProducts.map((product, i) => {
      return `<div class="nodecoration col-lg-3 col-xl-2 col-md-4 col-sm-6 col-11  p-2 wow animate__animated animate__zoomIn">
        <a href="" target="_blank">
            <div class="card border-0 shadow py-3 ">
                <div class="card-img pt-2 mx-auto zoomonhover  ">
                    <img src="${product.image}" class="img-width  container-fluid " alt="">
                </div>
                <div class="card-body mx-auto text-center py-0">
                    <h5 class=" my-1 text-secondary">${product.name}</h5>
                    <p class=" my-1 text-secondary">${product.hindiName}</p>
                    <a href="" class="infotag" data-bs-toggle="modal" data-bs-target="#exampleModaldemandProduct${i}"  title=""><i class="fa-solid fa-circle-info  "></i><span
                            class="px-1">info</span></a>
                    <p class="text-muted my-0 ">Fresh and Natural handmade products. All are chemical residue free.<br> ${product.pinfo}</p>
                    <a href="https://wa.me/+919262290959/?text=Hello%20there.%20I%20need%20information%20about%20'${product.name}'." target="_blank"><p class="text-bold"><i class="fa-solid fa-circle-info"></i><span
                            class="px-1">${product.priceInfo}</span></p></a>

                </div>
                <a href="https://wa.me/+919262290959/?text=Hello%20there.%20I%20want%20to%20demand%20this%20product.%20So%20I%20need%20information%20about%20'${product.name}'." target="_blank" class=" text-center   btncustom1 mx-3 "><i class="fa-solid fa-cart-plus"></i> Demand</a>
            </div>
        </a>
    </div>
        <div class="modal fade" id="exampleModaldemandProduct${i}" tabindex="-1" aria-labelledby="exampleModalLabeldemandProduct${i}" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-success" id="exampleModalLabeldemandProduct${i}">${product.name}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>${product.info}
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-bs-dismiss="modal">ok</button>
                </div>
            </div>
        </div>
    </div>`;
    });

    if (demandCardList) {
      demandCardList.innerHTML += productCardHtml.toString().replaceAll(",", "");
    }
  }
  populateDemandCard();
</script>
<!--jQuery CDN link-->
{{!--
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous">
  </script>
<script>

  $(document).ready(function () {
    $('[data-toggle="tooltip"]').tooltip();
  });

</script> --}}